@model eShop.Models.ViewModels.Credentials
@{ ViewData["Title"] = "Στοιχεία";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <form method="post">
        <div class="form-group">
            <label>Όνομα</label>
            <input class="form-control" asp-for="Firstname" />
            <span asp-validation-for="Firstname" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Επώνυμο</label>
            <input class="form-control" asp-for="Lastname" />
            <span asp-validation-for="Lastname" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Ηλεκτρονικό Ταχυδρομείο</label>
            <input class="form-control" asp-for="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Τηλέφωνο</label>
            <input class="form-control" asp-for="Phone" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Πόλη</label>
            <input class="form-control" asp-for="City" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Διεύθυνση</label>
            <input class="form-control" asp-for="Address" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Ταχυδρομικός Κώδικας</label>
            <input class="form-control" asp-for="ZIP" />
            <span asp-validation-for="ZIP" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Υποβολή</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}